.container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.box {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    text-align: center;
    line-height: 50px;
    margin-bottom: 10px;
}
