body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f8f8;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

header h1 {
    margin: 0;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-buttons button, .language-switch button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.nav-buttons button:hover, .language-switch button:hover {
    background-color: #0056b3;
}

.language-switch {
    position: relative;
}

.language-btn {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.language-menu {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.language-menu a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
}

.language-menu a:hover {
    background-color: #f8f8f8;
}

.language-switch.open .language-menu {
    display: block;
}

.main-content {
    display: flex;
    width: 100%;
    margin-top: 20%; /* Move the main content (including the sidebar) 20% down from the top */
}

.sidebar {
    width: 200px;
    background-color: #f4f4f4;
    padding: 20px;
    /* Optionally, you can adjust margins/padding here if you need finer control */
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.contact-us, .ask-question {
    margin-bottom: 20px;
}

.contact-us h1, .ask-question h1 {
    color: #663300;
}

.hours-address {
    display: flex;
    justify-content: space-between;
}

.opening-hours, .address {
    width: 45%;
}

.opening-hours h2, .address h2 {
    color: #663300;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, td {
    border: 1px solid #ddd;
    padding: 8px;
}

td {
    text-align: left;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    background-color: #006666;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #004d4d;
}

#loginBtn, #registerBtn {
    position: relative;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    margin: 20px 0;
}

.product {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
}

@media (max-width: 768px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr); /*telestvis*/
    }
}

.product img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
}

.product-title {
    font-size: 18px;
    margin: 10px 0;
}

.product-description {
    font-size: 14px;
    color: #555;
}

.product-price {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    bottom: 0;
    left: 0;
    margin-top: 10px;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    margin: 10% auto 0 auto;
}
