/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
} */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f8f8;
}

header h1 {
    margin: 0;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.language-switch {
    position: relative;
}

.language-btn {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.language-menu {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.language-menu a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
}

.container {
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #f4f4f4;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.product-container {
    display: flex;
    width: 80%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.product-image {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
}

.product-image img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.product-details {
    flex: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-details h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.product-details .new-price {
    font-size: 28px;
    color: #e74c3c;
    margin-bottom: 5px;
}

.product-details .stock-status {
    color: #27ae60;
    margin-bottom: 20px;
}

.product-details .add-to-cart,
.product-details .add-to-wishlist {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px 0;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
}

.product-details .add-to-wishlist {
    background-color: #95a5a6;
}








/* styles.css */

body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f8f8;
}

header h1 {
    margin: 0;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-buttons button, .language-switch button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.nav-buttons button:hover, .language-switch button:hover {
    background-color: #0056b3;
}

.language-switch {
    position: relative;
}

.language-btn {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.language-menu {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.language-menu a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
}

.language-menu a:hover {
    background-color: #f8f8f8;
}



.language-switch.open .language-menu {
    display: block;
}



.container {
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #f4f4f4;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

main {
    flex: 1;
    padding: 20px;
}

.section-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product {
    border: 1px solid #ddd;
    padding: 10px;
    width: calc(25% - 30); 
    box-sizing: 20%;
    text-align: center;
}

.product img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
}

.product-title {
    font-size: 18px;
    margin: 10px 0;
}

.product-description {
    font-size: 14px;
    color: #555;
}

.product-price {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    bottom: 0;
    left: 0;
    margin-top: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
}

form input, form select, form button {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}

form button {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

#loginBtn, #registerBtn {
    position: relative;
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    margin: 20px 0;
}

.product {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
}

@media (max-width: 768px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr); /*telestvis*/
    }

}

.product img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
}

.product-title {
    font-size: 18px;
    margin: 10px 0;
}

.product-description {
    font-size: 14px;
    color: #555;
}

.product-price {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    bottom: 0;
    left: 0;
    margin-top: 10px;
}



